<link rel="stylesheet" href="/css/profile.css">
<h1 class="heading">Welcome to Habitsy - Your Personal Habit Tracker!</h1>
<div class="text">
    <p>Habitsy is an innovative habit tracking application designed to help you achieve your goals and lead a more
        productive and fulfilling life. With Habitsy, you can easily track your daily habits and monitor your progress
        towards building a positive and healthy routine.
        <br>
        <br>
        Why is Habitsy significant? The answer lies in the power of habits. Our daily habits shape our lives, and by
        consciously cultivating beneficial habits, we can create lasting positive change. Whether you want to start
        exercising regularly, read more books, meditate daily, or even drink more water, Habitsy is here to assist you
        every step of the way.
        <br>
        <br>

        One of the distinguishing features of Habitsy is its simple and intuitive interface. Tracking your habits has
        never been easier. The app allows you to effortlessly add your desired habits, set specific goals, and designate
        the
        frequency at which you want to perform them. Once you've added your habits, Habitsy provides you with a visually
        appealing and easy-to-understand dashboard to track your progress.
        <br>
        <br>
        Habitsy offers three states to track your habits: "Done," "Not Done," and "None." With a simple swipe or tap,
        you can mark your habit as "Done" when you successfully complete it. If you're unable to accomplish the habit on
        a
        particular day, you can mark it as "Not Done." And if you decide to skip a habit for a day, you can select the
        "None" option. These three states provide flexibility, acknowledging that life can sometimes be unpredictable.
        <br>
        <br>
        By consistently using Habitsy, you will develop a clear picture of your habit patterns and identify areas for
        improvement. The app generates insightful visual reports, displaying your habit completion rates, streaks, and
        overall progress over time. These reports serve as motivational tools, encouraging you to stay committed and
        reminding you of the positive changes you've made.
        <br>
        <br>
        Habitsy also includes customizable reminders to help you stay on track. You can set reminders for specific
        habits, ensuring you never miss an opportunity to work on your goals. With these gentle nudges, Habitsy keeps
        your
        habits at the forefront of your mind, increasing your chances of success.
        <br>
        <br>
        Furthermore, Habitsy values your privacy and data security. All your personal information and habit data are
        securely stored and protected, ensuring confidentiality and peace of mind.
        <br>
        <br>
        Get ready to unlock your true potential and cultivate a life full of purpose and achievement with Habitsy!
    </p>
</div>