<link rel="stylesheet" href="/css/profile.css">

<h1>Profile</h1>
<div class="info">

<p>
    Name:&nbsp;&nbsp;&nbsp; <%= profile_user.name%>
</p>
<p>
    Email:&nbsp;&nbsp;&nbsp; <%= profile_user.email%>
</p>
</di>
