<link rel="stylesheet" href="/css/signIn.css">
<div class="signup">
    <h2>Hello buddy..</h2>
    <div class="form">
        <form action="/users/create-session" method="post">
            <input type="email" id="Iemail" name="email" placeholder="Your Email" required>
            <input type="password" id="Ipassword" name="password" placeholder="Your password" required>
            <input type="submit" value="Log in">
        </form>
    </div>

</div>