<link rel="stylesheet" href="/css/signIn.css">

<div class="signup">
    <h2>Are you new user..</h2>
    <div class="form">
        <form action="/users/create" method="post">
            <input type="text" id="Iname" name="name" placeholder="Your Name" required>
            <input type="email" id="Iemail" name="email" placeholder="Your Email" required>
            <input type="password" id="Ipassword" name="password" placeholder="Your password" required>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            <input type="submit" value="Sign Up">
        </form>
    </div>

</div>