h1 {
  text-align: center;
  color: cadetblue;
  margin-top: 5%;
}

.info {
  margin: auto;
  margin-top: 10%;
  width: 20vw;
  font-size: large;
  font-weight: bold;
  background-color: aliceblue;
  height: 15vh;
  padding: 20px;
}
